@{
    ViewData["Title"] = "Choose city";
}

<h2>List of available cities</h2>

<p><a href="ShowCity?city=moscow">Moscow</a></p>
<p><a href="ShowCity?city=novokuznetsk">Novokuznetsk</a></p>
<p><a href="ShowCity?city=tomsk">Tomsk</a></p>