@{
    ViewData["Title"] = ViewData["lat"];
    string lat = ViewData["lat"] as string;
    string lng = ViewData["lng"] as string;
    string coords = ViewData["houses"] as string;

}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Houses</title>

    <script type="text/javascript">
        function initialize() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: parseFloat(@lat), lng: parseFloat(@lng) },
                scrollwheel: false,
                zoom: 13
            });



            var myLatLng = { lat: parseFloat(@lat), lng: parseFloat(@lng) };

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map
            });


        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0YOF3byJvtJlfR6_2woTLNGmHlQKPueY&callback=initialize"
            async defer></script>

    <link rel="stylesheet" href="~/css/multirange.css">
    <style> 
        form {
            position: relative;
        }
        input[type="range"] {
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="~/js/outputscript.js"></script>
</head>
<body>
    
    <form id="form1" runat="server">
        <div>
            <div id="map" style="width:100%;height:500px"></div>
        </div>
    </form>
    <form>
        <input id="rangeElement" type="range" multiple value="0,100"/>
        <output id="fromYear"></output>
        <output id="toYear"></output>
    </form>
    <script type="text/javascript" src="~/js/multirange.js"></script>
    <script>
        function ready() {
            var list = document.getElementsByClassName("multirange");
            for (var i = 0; i < list.length; i+=1) {
                element = list[i];
                console.log(element);
                element.addEventListener("input", updateTextInput);
            }
        }
        document.addEventListener("DOMContentLoaded", ready);
    </script>
    
</body>
</html>