@{
    ViewData["Title"] = ViewData["lat"];
    string lat = ViewData["lat"] as string;
    string lng = ViewData["lng"] as string;
    string lats = ViewData["lats"] as string;
    string lngs = ViewData["lngs"] as string;
    string years = ViewData["years"] as string;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Houses</title>

    <script type="text/javascript">
        var markerArray = [];
        var years;
        var lats;
        var lngs;
        var map;
        var maxYear = 0; 
        var minYear = 2017;
        var currentFromYear = 0;
        var currentToYear = 2017;
        function getColor(year) {
            //years 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010
            var colors = ['#a50000', '#eaa400', '#f2ff00', '#5bc400', '#006032', '#009b86', '#150091', '#4a0060', '#96007a'];
            return colors[Math.floor((year - 1930) / 10)];
        }

        function initialize() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: parseFloat(@lat), lng: parseFloat(@lng) },
                scrollwheel: false,
                zoom: 13
            });
            years = @years;  
            for (var i = 0, l = years.length; i < l; i++)
            {
                if (years[i] < minYear)
                    minYear = years[i];
                if (years[i] > maxYear)
                    maxYear = years[i];
            }    
            currentFromYear = minYear;
            currentToYear = maxYear;
            document.getElementById("fromYear").innerHTML = minYear;
            document.getElementById("toYear").innerHTML = maxYear;
            lats = @lats;
            lngs = @lngs;            
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0YOF3byJvtJlfR6_2woTLNGmHlQKPueY&callback=initialize"
            async defer></script>

    <link rel="stylesheet" href="~/css/multirange.css">
    <style> 
        form {
            position: relative;
        }
        input[type="range"] {
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="~/js/outputscript.js"></script>
</head>
<body>
    
    <form id="form1" runat="server">
        <div>
            <div id="map" style="width:100%;height:500px"></div>
        </div>
    </form>
    <form>
        <input id="rangeElement" type="range" multiple value="0,100"/>
        <output id="fromYear">minYear</output>
        <output id="toYear">maxYear</output>
        <button type="button" onclick="onClick()">Show!</button>
    </form>
    <script type="text/javascript" src="~/js/multirange.js"></script>
    <script>
        function ready() {
            var list = document.getElementsByClassName("multirange");
            for (var i = 0; i < list.length; i+=1) {
                element = list[i];
                console.log(element);
                element.addEventListener("input", updateTextInput);
            }  
            document.getElementById("fromYear").innerHTML = minYear;
            document.getElementById("toYear").innerHTML = maxYear;
        }
        document.addEventListener("DOMContentLoaded", ready);
    </script>
    
</body>
</html>